.text-overflow {
    white-space: nowrap;
    /* khoong xuoongs dong */
    width: 150px;
    overflow: hidden;
    /* vuot qua width no se an phia sau */
    text-overflow: ellipsis;
    /* vuot qa hien dau cham */
  }
  .cursor{
    cursor: pointer;
  }
  .canhtren{
    padding-top: 6px;
  }
  :host >>> .tooltip-inner {
    text-align: left;
  }