<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<h1 class="h3 mb-2 text-gray-800">Quản lý sản phẩm</h1>
<p></p>

<div class="row">

    <div class="form-group col-md-3">
        <form>
            <input appAutoFocusDirective #input (input)="searchPerfumes(key.value)" #key="ngModel" ngModel name="key"
                type="search" placeholder="Nhập từ khóa cần tìm kiếm" class="form-control form-control-underlined">
        </form>
    </div>

    <div class="col-md-9 mx-right text-right">
        <button class="btn btn-success" routerLink="/create">+ Thêm mới</button>
    </div>
</div>

<div class="card shadow mb-4">

    <div class="table-responsive">
        <table class="table table-hover table-striped" id="dataTable" width="100%" cellspacing="0">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">STT</th>
                    <!-- <th>Mã sản phẩm</th> -->
                    <th (click)="sortName('perfume_name')">Tên sản phẩm&nbsp;<i class="fa fa-sort"></i></th>
                    <th >Thương hiệu</th>
                    <th (click)="sortName('amount')">Số lượng&nbsp;<i class="fa fa-sort"></i></th>
                    <th (click)="sortName('price')" class="text-center">Giá (VND)&nbsp;<i class="fa fa-sort"></i></th>
                    <th class="text-center">Mô tả</th>
                    <th class="text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let perfume of perfumes | slice: (page-1) * pageSize : page * pageSize
                                        |orderBy :orderHeader : isDescOrder;let i=index">
                    <td class="text-center">{{((page-1)*pageSize)+i+1}}</td>
                    <!-- <td>{{perfume.id}}</td> -->
                    <td (click)="detailPerfume(perfume.id)">
                        <a placement="bottom" tooltip="{{perfume.perfume_name}}" class="link cursor">
                            <div class="text-overflow">{{perfume.perfume_name}}</div>
                        </a>
                    </td>
                    <td>{{perfume.brand.brand_name}}</td>
                    <td class="text-center">{{perfume.amount}}</td>
                    <td class="text-right">{{perfume.price | number:'1.0-0'}}</td>
                    <td>
                        <div class="text-overflow" placement="bottom" tooltip={{perfume.description}}>
                            {{perfume.description}}
                        </div>
                    </td>

                    <td class="text-center font-size display">
                        <div class="display-button">
                            <button class="btn btn-info btn-circle" (click)="detailPerfume(perfume.id)"><i
                                    class="fas fa-info-circle"></i></button>
                            <button class="btn btn-warning btn-circle" (click)="editPerfume(perfume.id)"><i
                                    class="fas fa-exclamation-triangle"></i></button>
                            <button class="btn btn-danger btn-circle" (click)="deletePerfume(perfume.id)"><i
                                    class="fas fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="text-center" *ngIf="perfumes?.length==0">Không tìm thấy kết quả</p>


    </div>
    <div class="row display-container">
        <div class="col-sm-12 col-md-4">
            <label>Hiển thị</label>
            <select class="select" [(ngModel)]="pageSize" (change)="chang($event)">
                <option [value]="6">6</option>
                <option [value]="8">8</option>
                <option [value]="10">10</option>
            </select>
        </div>
        <div class="paging">
            <div class="col-sm-12 col-md-5 text-right  paging-display" style="display: contents;">
                <label class="canhtren" *ngIf="page==1&&(page*pageSize)<collectionSize && perfumes?.length!=0">Hiển thị: 1 - {{page*pageSize}} trên
                    {{collectionSize}} sản phẩm</label>
                <label class="canhtren"*ngIf="page!=1&&(page*pageSize)<collectionSize && perfumes?.length!=0">Hiển thị: {{((page-1)*pageSize)+1}} -
                    {{page*pageSize}} trên
                    {{collectionSize}} sản phẩm</label>
                <label class="canhtren"*ngIf="page!=1&&(page*pageSize)>=collectionSize && perfumes?.length!=0">Hiển thị: {{((page-1)*pageSize)+1}} -
                    {{collectionSize}} trên
                    {{collectionSize}} sản phẩm</label>
                <label class="canhtren"*ngIf="page==1&&(page*pageSize)>collectionSize && perfumes?.length!=0">Hiển thị: 1 - {{collectionSize}} trên
                    {{collectionSize}} sản phẩm</label>
                <label class="canhtren"*ngIf="perfumes?.length==0">Hiển thị: 0 sản phẩm</label>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="dataTables_paginate paging_simple_numbers" style="padding: 0;">
                    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize"
                        [boundaryLinks]="true">
                        <ng-template ngbPaginationPages let-page let-pages="pages">
                            <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                                <div class="form-group d-flex flex-nowrap px-2">
                                    <label id="paginationInputLabel" for="paginationInput"
                                        class="col-form-label mr-2 ml-1">Trang</label>
                                    <input  (keydown.Tab)="onKey($event);false;" #i type="text" inputmode="numeric"
                                        pattern="[0-9]*" class="form-control custom-pages-input" id="paginationInput"
                                        [value]="page" (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
                                        (input)="formatInput($any($event).target)"
                                        aria-labelledby="paginationInputLabel paginationDescription"
                                        style="width: 2.5rem; height: 34px;" />
                                    <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                                        / {{pages.length}}</span>
                                </div>
                            </li>
                        </ng-template>
                    </ngb-pagination>
                </div>
            </div>
        </div>

    </div>

</div>