.text-overflow {
    white-space: nowrap;
    /* khoong xuoongs dong */
    width: 150px;
    overflow: hidden;
    /* vuot qua width no se an phia sau */
    text-overflow: ellipsis;
    /* vuot qa hien dau cham */
  }
  .cursor{
    cursor: pointer;
  }
  .canhtren{
    padding-top: 6px;
  }
  :host >>> .tooltip-inner {
    text-align: left;
  }

  .display{
    justify-content: center;
    display: flex;
  }
  .display-button{
    display: flex; 
    justify-content: space-between;
    width: 130px;
  }
  .display-container{
    display: flex; 
    justify-content: space-between;
    position: relative; padding: 0px 10px ;
  }
  .select{
    margin-left: 7px; width: 60px
  }
  .paging{
    display: flex; padding-right: 10px;
  }
  .paging-display{
    padding: 10px 0px 0px 0px;
  }