.text-overflow {
    white-space: nowrap;
    /* khoong xuoongs dong */
    width: 200px;
    overflow: hidden;
    /* vuot qua width no se an phia sau */
    text-overflow: ellipsis;
    /* vuot qa hien dau cham */
  }
