
<div class="card min-heigh">
    <h4 class="text-center">Thông tin chi tiết xuất kho</h4>
    <div class="card-body" style="padding-bottom: 0px;">
        <h5>Thông tin khách hàng</h5>
        <table class="table table-hover table-striped table-sm">
            <thead class="thead-light">
                <th>ID</th>
                <th >Tên khách hàng</th>
                <th>Số điện thoại</th>
                <th >Địa chỉ</th>
                <th >Ngày xuất</th>
                
            </thead>
            <tbody>
                <tr>
                    <td>{{output.id}}</td>
                    <td>{{output.customerName}}</td>
                    <td>{{output.phone}}</td>
                    <td>{{output.address}}</td>
                    <td>{{output.dateOutput|date:'dd-MM-yyyy'}}</td>
                </tr>
            </tbody>
        </table>

        <h5>Chi tiết nhập kho</h5>
        <table class="table table-hover table-striped table-sm">
            <thead class="thead-light">
                <th style="width: 1%">STT</th>
                <th style="width: 10%">Mã sản phẩm</th>
                <th style="width: 17%">Tên sản phẩm</th>
                <th style="width: 10%" class="price-right text-right">Số lượng</th>
                <th style="width: 10%" class="price-right text-right">Đơn giá (VND)</th>
                <th style="width: 10%" class="price-right text-right">Thành tiền (VND)</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of outputInfo;index as i">
                    <td>{{i+1}}</td>
                    <td>{{item.perfume.perfume_code}}</td>
                    <td>{{item.perfume.perfume_name}}</td>
                    <td class="price-right text-right">{{item.amount}}</td>
                    <td class="price-right text-right">{{item.outputPrice | number:'1.0-0'}}</td>
                    <td class="price-right text-right">{{item.amount*item.outputPrice|number:'1.0-0'}}</td>
                </tr>
                <tr>
                    <th colspan="5"  class="price-right text-right">Tổng tiền:</th>
                    <td class="price-right text-right">{{output.total|number:'1.0-0'}}</td>
                </tr>
            </tbody>
        </table>
        <div class="row mb-1">
            <div class="col-md-12 mx-right text-right">
                <button class="btn btn-primary" routerLink="/input">Quay lại</button><p></p>
            </div>
        </div>
    </div>
</div> 
