<div class="container-fluid">
    <div class="card min-heigh" style="width: 80%; margin:0 auto">
        <div class="card-header text-center">
            <h4 *ngIf="idPerfume==undefined" class="text-center">Thêm mới sản phẩm</h4>
            <h4 *ngIf="idPerfume!=undefined" class="text-center">Cập nhật sản phẩm</h4>
        </div>
        <!-- <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> 
            <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div> -->
        <div class="card-body">
            <form [formGroup]="infoform" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="col-md-6 mb-1">
                        <label for="brand">Nhà sản xuất<i class="note">*</i></label>
                        <select *ngIf="idPerfume!=undefined" id="originId" name="originId" formControlName="originId"
                            class="form-control">
                            <option *ngFor="let item of origins" [value]="item.id">{{item.origin_name}}</option>
                        </select>
                        <select *ngIf="idPerfume==undefined" id="originId" name="originId" formControlName="originId"
                            class="form-control">
                            <option value="">---Vui lòng chọn---</option>
                            <option *ngFor="let item of origins" [value]="item.id">{{item.origin_name}}</option>
                        </select>
                        <control-message field="Mô tả" [control]="infoform.get('originId')"></control-message>
                    </div>
                    <div class="col-md-6 mb-1">
                        <label for="brand">Thương hiệu <i class="note">*</i></label>
                        <select *ngIf="idPerfume!=undefined" id="brandId" name="brandId" formControlName="brandId"
                            class="form-control">
                            <option *ngFor="let item of brands" [value]="item.id">{{item.brand_name}}</option>
                        </select>
                        <select *ngIf="idPerfume==undefined" id="brandId" name="brandId" formControlName="brandId"
                            class="form-control">
                            <option value="">---Vui lòng chọn---</option>
                            <option *ngFor="let item of brands" [value]="item.id">{{item.brand_name}}</option>
                        </select>
                        <control-message field="Thương hiệu" [control]="infoform.get('brandId')"></control-message>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-1">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="name">Tên sản phẩm <i class="note">*</i></label>
                                <input formControlName="perfume_name" id="perfume_name" class="form-control"
                                    placeholder="Nhập tên sản phẩm" type="text" name="perfume_name">
                                <control-message field="Tên sản phẩm" [control]="infoform.get('perfume_name')">
                                </control-message>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 mb-1">
                        <label for="price">Đơn giá (VND) <i class="note">*</i></label>
                        <input formControlName="price" id="price" class="form-control" placeholder="Nhập giá sản phẩm"
                            type="text" name="price">
                        <control-message field="Giá sản phẩm" [control]="infoform.get('price')"></control-message>
                    </div>

                </div>

                <div class="form-row">
                    <div class="col-md-6 mb-1">
                        <div class="form-group">
                            <label for="description">Mô tả<i class="note"> *</i></label>
                            <!-- <input formControlName="description" id="description" class="form-control"
                                placeholder="Nhập mô tả sản phẩm" type="text" name="description" required> -->
                            <textarea formControlName="description" class="form-control" rows="4" cols="50"
                                name="comment">
                                    Enter text here...</textarea>
                            <control-message field="Mô tả" [control]="infoform.get('description')"></control-message>
                        </div>
                    </div>
                    <div class="col-md-6 mb-1">

                    </div>
                </div>
                <div class="form-group text-right">
                    <button *ngIf="idPerfume==undefined" class="btn btn-success ml-2" type="submit">Lưu</button>
                    <button *ngIf="idPerfume!=undefined" class="btn btn-success ml-2" [disabled]="!infoform.valid"
                        type="submit">Cập nhật</button>
                    <button type="button" class="btn btn-danger ml-2" routerLink="/perfumes">Hủy</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>