<div class="container-fluid">
    <div class="card min-heigh" style=" margin:0 auto">
        <div class="card-header text-center">
            <h4 class="text-center">Tạo đơn xuất hàng</h4>
        </div>
        <div class="card-body">
            <h6>Thông tin khách hàng</h6>
            <form [formGroup]="formCustomer" appAutoFocusDirective>
                <div class="form-row border border-primary">
                    <div class="col-md-4 mb-1">
                        <div class="form-group">
                            <label for="customerName">Tên khách hàng <i class="note">*</i></label>
                            <input appAutoFocusDirective #input type="text" id="customerName" name="customerName" class="form-control"
                                formControlName="customerName" [ngClass]="{
                                    'is-valid': (fc?.customerName?.valid && (fc?.customerName?.touched)),
                                    'is-invalid': (fc?.customerName?.invalid && (fc?.customerName?.touched))}">
                            <control-message field="Tên khách hàng" [control]="formCustomer.get('customerName')">
                            </control-message>
                        </div>
                    </div>
                    <div class="col-md-4 mb-1">
                        <div class="form-group">
                            <label for="phone">Số điện thoại <i class="note">*</i></label>
                            <input type="text" id="phone" name="phone" class="form-control" formControlName="phone" [ngClass]="{
                                'is-valid': (fc?.phone?.valid && (fc?.phone?.touched)),
                                'is-invalid': (fc?.phone?.invalid && (fc?.phone?.touched))}">

                            <control-message field="Số điện thoại" [control]="formCustomer.get('phone')">
                            </control-message>
                        </div>
                    </div>
                    <div class="col-md-4 mb-1">
                        <div class="form-group">
                            <label for="address">Địa chỉ</label>
                            <input type="text" id="address" name="address" class="form-control"
                                formControlName="address" [ngClass]="{
                                    'is-valid': (fc?.address?.valid && (fc?.address?.touched)),
                                    'is-invalid': (fc?.address?.invalid && (fc?.address?.touched))}">
                            <control-message field="Địa chỉ" [control]="formCustomer.get('address')"></control-message>
                        </div>
                    </div>
                </div>
            </form>

            <hr>
            <h6>Chi tiết đơn hàng</h6>
            <hr>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="col-md-3 mb-1">
                        <div class="form-group">
                            <label for="code">Tên sản phẩm<i class="note"> *</i></label>
                            <input autocomplete = "off" type="text" formControlName="perfume_name" #perfume (change)="selected(perfume.value)" class="form-control" name="perfume_name" list=perfumes>
                            <datalist id="perfumes">
                                <option *ngFor="let item of perfumes" [value]="item.perfume_name">
                            </datalist>
                            <control-message field="Tên sản phẩm" [control]="form.get('perfume_name')"></control-message>
                        </div>
                    </div>
                    <div class="col-md-3 mb-1">
                        <div class="form-group">
                            <label autocomplete = "off" for="price">Đơn giá (VND)<i class="note"> *</i></label>
                            <input formControlName="price" id="price" class="form-control"
                                placeholder="Nhập giá sản phẩm" type="text" name="price"[ngClass]="{
                                    'is-valid': (f?.price?.valid && (f?.price?.touched)),
                                    'is-invalid': (f?.price?.invalid && (f?.price?.touched))}">
                            <control-message field="Giá" [control]="form.get('price')"></control-message>
                        </div>
                    </div>
                    <div class="col-md-3 mb-1">
                        <div class="form-group">
                            <label for="amount">Số lượng<i class="note"> * </i>(còn {{amount}} sản phẩm)</label>
                            <input autocomplete = "off" formControlName="amount" id="amount" class="form-control" placeholder="Nhập số lượng"
                                type="text" name="amount" [ngClass]="{
                                    'is-valid': (f?.amount?.valid && (f?.amount?.touched)),
                                    'is-invalid': (f?.amount?.invalid && (f?.amount?.touched))}">
                            <control-message field="Số lượng" [control]="form.get('amount')"></control-message>
                        </div>
                    </div>
                    <div class="col-md-3 mb-1">
                        <label></label>
                        <div class="form-group">
                            <button class="btn btn-success ml-2" style="margin-top: 8px;" type="submit">Thêm</button>
                        </div>
                    </div>
                </div>
            </form>
            <table class="table table-sm table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Mã sản phẩm</th>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col" class="text-right price-right">Giá nhập</th>
                        <th scope="col" class="text-right price-right">Thành tiền (VND)</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list">
                        <th scope="row"></th>
                        <td>{{item.id}}</td>
                        <td>{{item.perfume_name }}</td>
                        <td>{{item.amount}}</td>
                        <td class="text-right price-right">{{item.price}}</td>
                        <td class="text-right price-right">{{item.amount*item.price|number:'1.0-0'}}</td>
                        <td><button class="btn btn-danger ml-2" (click)="deletePerfume(item)"><i class="fa fa-trash">
                                    Xóa</i></button></td>
                    </tr>
                    <tr>
                        <th class="text-right" colspan="5">Tổng tiền</th>
                        <td class="text-right price-right">{{total|number:'1.0-0'}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group text-right">
                <button (click)="createOutput()" class="btn btn-success ml-2" type="submit">Tạo</button>
                <button (keydown.Tab)="onKey($event);false;" type="button" class="btn btn-danger ml-2" routerLink="/input">Hủy</button>
            </div>
        </div>
    </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>