<div class="container-fluid">
    <div class="card min-heigh" style=" margin:0 auto">
        <div class="card-header text-center">
            <h4 class="text-center">Tạo đơn nhập hàng</h4>
        </div>
        <!-- <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> 
            <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div> -->
        <div class="card-body">

            <div class="form-row">
                <div class="col-md-6 mb-1">
                    <label for="brand">Nhà cung cấp<i class="note"> *</i></label>
                    <select appAutoFocusDirective #input [(ngModel)]="suplierId" id="suplierId" name="suplierId" class="form-control">
                        <option *ngFor="let item of supliers" [ngValue]="item.id">{{item.suplierName}}</option>
                    </select>
                </div>
            </div>
            <hr>
            <h6>Chi tiết đơn hàng</h6>
            <hr>
            <form appAutoFocusDirective [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="col-md-3 mb-1">
                        <div class="form-group">
                            <label for="code">Tên sản phẩm<i class="note"> *</i></label>
                            <!-- <select type="text" class="form-select form-control" id="id" name="id" formControlName="id"
                                [ngClass]="{
                                'is-valid': (f?.id?.valid && (f?.id?.touched)),
                                'is-invalid': (f?.id?.invalid && (f?.id?.touched))}">
                                <option value="" selected>---Vui lòng chọn---</option>
                                <option *ngFor="let item of perfumes" [value]="item.id">{{item.perfume_name}}
                                </option>
                            </select> -->
                            <input autocomplete = "off" type="text" formControlName="perfume_name" class="form-control" name="perfume_name" list=perfumes
                            >
                            <datalist id="perfumes">
                                <option *ngFor="let item of perfumes" [value]="item.perfume_name">
                            </datalist>
                            <control-message field="Tên sản phẩm" [control]="form.get('perfume_name')"></control-message>
                        </div>
                    </div>
                    <div class="col-md-3 mb-1">
                        <div class="form-group">
                            <label for="price">Giá nhập<i class="note"> *</i></label>
                            <input formControlName="price" id="price" class="form-control"
                                placeholder="Nhập giá sản phẩm" type="text" name="price" pattern="[0-9]*"
                                inputmode="numeric" [ngClass]="{
                                    'is-valid': (f?.price?.valid && (f?.price?.touched)),
                                    'is-invalid': (f?.price?.invalid && (f?.price?.touched))}">
                            <control-message field="Giá nhập" [control]="form.get('price')"></control-message>
                        </div>
                    </div>
                    <div class="col-md-3 mb-1">
                        <div class="form-group">
                            <label for="amount">Số lượng<i class="note"> *</i></label>
                            <input formControlName="amount" id="amount" class="form-control" placeholder="Nhập số lượng"
                                type="text" name="amount" [ngClass]="{
                                    'is-valid': (f?.amount?.valid && (f?.amount?.touched)),
                                    'is-invalid': (f?.amount?.invalid && (f?.amount?.touched))}">
                            <control-message field="Số lượng" [control]="form.get('amount')"></control-message>
                        </div>
                    </div>
                    <div class="col-md-3 mb-1">
                        <label></label>
                        <div class="form-group">
                            <button class="btn btn-success ml-2" style="margin-top: 8px;" type="submit">Thêm</button>
                        </div>
                    </div>
                </div>
            </form>
            <table class="table table-sm table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Mã sản phẩm</th>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col" class="text-right price-right">Giá nhập</th>
                        <th scope="col" class="text-right price-right">Thành tiền (VND)</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list">
                        <th scope="row"></th>
                        <td>{{item.id}}</td>
                        <td>{{item.perfume_name }}</td>
                        <td>{{item.amount}}</td>
                        <td class="text-right price-right">{{item.price}}</td>
                        <td class="text-right price-right">{{item.amount*item.price|number:'1.0-0'}}</td>
                        <td><button class="btn btn-danger ml-2" (click)="deletePerfume(item)"><i class="fa fa-trash">
                                    Xóa</i></button></td>
                    </tr>
                    <tr>
                        <th class="text-right" colspan="5">Tổng tiền</th>
                        <td class="text-right price-right">{{total|number:'1.0-0'}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group text-right">
                <button (click)="createInput()" class="btn btn-success ml-2" type="submit">Tạo</button>
                <button (keydown.Tab)="onKey($event);false;" type="button" class="btn btn-danger ml-2" routerLink="/input">Hủy</button>
            </div>
        </div>
    </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
